body{
    display: flex;
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    flex-direction: column;
    display: flex;
    height: 50vh;
    width: 30vw;
    border: red solid;
    margin: auto;
    transform: translate(0, 50%);
    border-radius: 5px;
    background-color: aliceblue;
    font-size: 1.1em;
}
h1{
    align-self: center;
}
.buttons{
    margin-top: 10%;
    display: flex;
    width: 100%;
    border: red solid;
    justify-content: space-evenly;
}
.buttons button{
    filter: invert();
    padding: 5px 40px;
    border-radius: 50px;
    font-size: 2em;
}
#no-btn {transform: translate(0, 0);}
